.map-conatiner{
	width: 100%;
	min-height:	100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: scroll;
}

.map-location{
	width: 100%;
	height: 400px;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 15px;
	padding-top: 5px;
}

/* .map-container .map-location:nth-child(2){
	translate: 0px -40px;
} */

.map-location h2{
	font-weight: 500;;
}

.map-box{
	width: 90%;
	height: 360px;
}

.map{
	width: 100%;
	height: 300px;
}

.leaflet-control-attribution {
  display: none;
}

.leaflet-control{
	display: none;
}

.btn-box{
	width: 100%;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.map-btn{
	width: 150px;
	height: 40px;
	border: none;
	font-size: 18px;	
	border-radius: 10px;
}